@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */


$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 65px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {

  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {

  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {

  color: $gray-light
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* buttons */

.btn {
  background-color: #3B577D;
  color: #FFF;
  &:hover {
    background-color: #44679F;
    color: #fff;
  }
}

.btn-red {
  &:hover {
    background-color: #e55e5e;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
  a {
    &:hover {
      color: #C0D9E5;
      background-color: #303841;
    }
    color: #eaf6f7;
  }
}

.navbar {
  background-color: #303841;
  .open {
    .dropdown-menu {
      display: grid;
      .divider {
        background-color: #e3e3e3;
      }
    }
  }
}

.notification {
  color: #DDF5F7;
  background-color: #e55e5e;
  padding: 10px 14px 10px 14px;
  border-radius: 25px;
}



/* links */

a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
    }
}


/* post feed */

.post-feed {
  /*width: 500px;*/
  list-style: none;
  display: block;

  textarea {
    background-color: #FFFFFF;
    border-radius: 22px;
    text-decoration: none;
    outline: inherit;
    padding-left: 6px;
    padding-top: 10px;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    @include box_sizing;
  }

  .new_post {
    /*width: 500px;*/
    display: grid;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;

    h3 {
      background-color: #F6F7F9;
      padding: 30px;
      margin-top: 0px;
      border-bottom: 1px dashed #e3e3e3;
    }

    .form-fields {
      display: grid;
      padding: 0px 20px 10px 20px;
    }
  }

  .post {
    /*width: 500px;*/
    margin-top: 20px;
    display: grid;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;

    .post-user {
      background-color: #F6F7F9;
      padding: 10px;
      margin-top: 0px;
      border-bottom: 1px dashed #e3e3e3;
    }
    .timestamp {
      color: #cecece
    }
    .post-content {
      background-color: #fff;
      padding: 20px;
      border-bottom: 1px dashed #e3e3e3;
      border-left: 1px dashed #e3e3e3;
      border-right: 1px dashed #e3e3e3;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .content-links {
      padding: 0px 20px 0px 20px;
      .like-links {
        .like:hover {
          color: #18c991;
        }
        .unlike:hover {
          color: #e55e5e;
        }
      }
    }
    .comments {
      background-color: #fff;
      padding: 20px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-top: 1px dashed #e3e3e3;
      border-left: 1px dashed #e3e3e3;
      border-right: 1px dashed #e3e3e3;
    }
    .new_comment {
      border-top: 1px dashed #e3e3e3;
    }
    .comment-fields {
      textarea {
        width: 100%;
      }
      padding: 10px 20px 10px 20px;
    }
  }
}
/*
li.like {
  display: grid;
}
*/
/* users show */

aside {
  section.user-info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */
.fb-login {
  float: left;
  background-color: #4267B2;
  border-radius: 5px;
  margin-top: 10px;
  a {
    font-size: 1.2em;
    padding: 10px;
    color: #FFF;
  }
}

.confirm {
  background-color: #4267B2;
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
}

.avatar-box {
  display: flex;
}

.divider {
  background-color: #e3e3e3;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-head {
  background-color: #F6F7F9;
  padding: 10px;
  border-radius: 5px;
}


/* miscellaneous */

.delete {
  a:hover {
    color: #e55e5e;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
